@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

*, body, html {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}


hr {
  margin: 20px auto;
  border: none;
}

.front {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg-cp.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  top: 25%;
  height: 20em;
  position:fixed;
  text-align: center;
  padding: 25px;
}

.box h1 {
  color: #FFF;
  font-size: 60px;
  display: inline;
  font-weight: bolder;
}

.box h2 {
  color: #F1F1F1;
  font-size: 18px;
  display: inline;
  font-weight: bolder;
}

.social-icons a i {
  height: auto;
  width: auto;
}

.mdi {
  margin-top: 90px;
}

.mdi:before {
  text-align: center;
  font-size: 40px;
  color: #FFF;
}

.footer {
  width: 100%;
  height: 15px;
  color: #7f8c8d;
  font-weight: lighter;
  font-size: 10px;
  text-align: center;
  bottom: 0;
  position: absolute;
}
