html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Lato', 'Open Sans', Arial, Helvetica, sans-serif; }

.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.1); }

.mdi:before {
  font-size: 40px;
  line-height: 30px; }

.aligner {
  display: flex;
  align-items: center;
  justify-content: center; }

.aligner-item {
  max-width: 100%; }

.menu {
  width: 100%;
  position: absolute;
  display: block;
  z-index: 1; }

.heading {
  width: 100%;
  height: 100%;
  z-index: 0; }
  .heading h1 {
    color: #FFFFFF;
    font-size: 90px;
    font-weight: bolder;
    margin-bottom: 20px; }
    @media screen and (max-width: 768px) {
      .heading h1 {
        font-size: 50px; } }
  .heading h2 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold; }
    @media screen and (max-width: 768px) {
      .heading h2 {
        font-size: 16px; } }
  .heading:after {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5); }
  .heading:before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -2;
    background-image: url("../img/heading.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(1.5px);
    filter: blur(1.5px); }

.social-networks {
  margin: auto;
  padding-top: 80px; }
  .social-networks li {
    margin: 0px 30px; }
    @media screen and (max-width: 600px) {
      .social-networks li {
        margin: 0px 5px; } }
    @media screen and (max-width: 768px) {
      .social-networks li {
        margin: 0px 15px; } }
    .social-networks li a {
      color: #FFFFFF; }
